{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}

      
 <!--{% if user_logged_in %} 
       
 <div class="alert alert-success">
  {{message}}
</div>
  <!-- Painikkeet tähän -->
   <!--    {% endif %} -->
   
  <p>
     <a href="{{base_path}}/astia/{{astia.as_id}}/muokkaa" class="btn btn-success">Muokkaa</a> {{forms.poisto_nappi("#{base_path}/astia/#{astia.as_id}/poista")}}
 
  </p>
  <div>

    
      
   <h1>{{astia.nimi}}</h1>   
  <!-- Tiedot tulee listana tähän -->
 
  <h3>Astian tiedot</h3>
  <ul>
    <li><strong>Väri: </strong>{{astia.vari}}</li>
    <li><strong>Koko: </strong>{{astia.koko}}</li>
    <li><strong>Hinta: </strong>{{astia.hinta}}</li>
    <li><strong>Muoto: </strong>{{astia.muoto}}</li>
    <li><strong>Malli: </strong>{{astia.malli}}</li>
  </ul>
      
  </div>  
 
{% endblock %}