{% extends "base.html" %}
{% block content %}

<h1>Muokkaa astiaa: {{astia.nimi}}</h1>
 
<form method="post" action="{{base_path}}/astia/{{astia.as_id}}/muokkaa">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" name="nimi" value="{{astia.nimi}}"/>
    </div>
    
    <div class="form-group">
        <label>Vari</label>
        <input type="text" class="form-control" name="vari" value="{{astia.vari}}"/>
    </div>
    
    <div class="form-group">
        <label>Koko</label>
         <input type="text" class="form-control" name="koko" value="{{astia.koko}}"/>
    </div>
    
     <div class="form-group">
        <label>Hinta</label>
         <input type="text" class="form-control" name="hinta" value="{{astia.hinta}}"/>
    </div>
     <div class="form-group">
        <label>Muoto</label>
        <input type="text" class="form-control" name="muoto" value="{{astia.muoto}}"/>
    </div>
     <div class="form-group">
        <label>Malli</label>
       <input type="text" class="form-control" name="malli" value="{{astia.malli}}"/>
    </div>
      
     <!-- Hakee omistajat valittaviksi Omistaja-taulusta --> 
    
    <div class="form-group">
      <label>Omistaja   (Muista tehdä valinta)</label>
      <select class="form-control" name="omistajat[]" multiple="">                
          {% for omistaja in omistajat %}
          <option  value="{{omistaja.om_id}}">{{omistaja.nimi}}</option>
          {% endfor %}          
      </select>
    </div>
    
    <!-- Hakee brändit valittaviksi Brandi-taulusta --> 
    
    <div class="form-group">
      <label>Brandi</label>
      <select class="form-control" name="brandit[]">                
          {% for brandi in brandit %}
          <option  value="{{brandi.bra_id}}">{{brandi.nimi}}</option>
          {% endfor %}          
      </select>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}
