{% extends "base.html" %}
{% block content %}

<h1>Muokkaa astiaa: {{astia.nimi}}</h1>
<form method="post" action="{{base_path}}/astia/{{astia.as_id}}/muokkaa">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" name="nimi" value="{{astia.nimi}}"/>
    </div>
    
    <div class="form-group">
        <label>Väri</label>
        <input type="text" class="form-control" name="tyyppi" value="{{astia.vari}}"/>
    </div>
    
    <div class="form-group">
        <label>Koko</label>
        <textarea class="form-control" name="tietoa">{{astia.koko}}</textarea>
    </div>
    
     <div class="form-group">
        <label>Hinta</label>
        <textarea class="form-control" name="tietoa">{{astia.hinta}}</textarea>
    </div>
     <div class="form-group">
        <label>Muoto</label>
        <textarea class="form-control" name="tietoa">{{astia.muoto}}</textarea>
    </div>
     <div class="form-group">
        <label>Malli</label>
        <textarea class="form-control" name="tietoa">{{astia.malli}}</textarea>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}
