{% extends "base.html" %}
{% block content %}
  <h1>Lis‰‰ uusi astia</h1>

  <form method="post" action="{{base_path}}/astia">
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
      <label>V‰ri</label>
      <input type="text" name="publisher" class="form-control">
    </div>
    
     <div class="form-group">
      <label>Koko</label>
      <input type="text" name="published" class="form-control">
    </div>
    

    <div class="form-group">
      <label>Hinta</label>
      <textarea name="description" class="form-control"></textarea>
    </div>
      
      <div class="form-group">
      <label>Muoto</label>
      <input type="text" name="published" class="form-control">
    </div>
      
      <div class="form-group">
      <label>Malli</label>
      <input type="text" name="published" class="form-control">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lis‰‰</button>
    </div>
  </form>
{% endblock %}