{% extends "base.html" %}
{% block content %}
  <h1>Lisaa uusi astia</h1>
  
 <!--   
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %} -->

  <form method="post" action="{{base_path}}/astia">
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" name="nimi" class="form-control">
    </div>

    <div class="form-group">
      <label>Vari</label>
      <input type="text" name="vari" class="form-control">
    </div>
    
     <div class="form-group">
      <label>Koko</label>
      <input type="text" name="koko" class="form-control">
    </div>
    

    <div class="form-group">
      <label>Hinta</label>
      <input type="text" name="hinta" class="form-control">
    </div>
      
      <div class="form-group">
      <label>Muoto</label>
      <input type="text" name="muoto" class="form-control">
    </div>
      
      <div class="form-group">
      <label>Malli</label>
      <input type="text" name="malli" class="form-control">
    </div>
    <div class="form-group">
      <label>Omistaja</label>
      <input type="text" name="om_id" class="form-control">
    </div>
      
      <div class="form-group">
      <label>Toinen omistaja</label>
      <input type="text" name="om_id2" class="form-control">
    </div>
            
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisaa</button>
    </div>
  </form>
{% endblock %}