{% extends "base.html" %}
{% block content %}
  <h1>Lisaa uusi brandi</h1>

  <form method="post" action="{{base_path}}/brandi">
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" name="nimi" class="form-control">
    </div>

    <div class="form-group">
      <label>Valmistaja</label>
      <input type="text" name="valmistaja" class="form-control">
    </div>
    
     <div class="form-group">
      <label>Maa</label>
      <input type="text" name="maa" class="form-control">
    </div>
            
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisaa</button>
    </div>
  </form>
{% endblock %}