{% extends "base.html" %}
{% block content %}
  <h1>Kuppi</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Muuta</button>    
    <button class="btn btn-danger">Poista</button>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Astia</strong> Kuppi</li>
    <li><strong>Väri</strong> Harmaa</li>
    <li><strong>Koko</strong> 2 dl</li>
    <li><strong>Hinta</strong>15 €</li>
    <li><strong>Muoto</strong>Pyöreä</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Teemä brändin 2 dl kokoinen harmaa kahvikuppi, johon kuuluu myös asetti. Hinta 15 €.
  </p>
{% endblock %}