{% extends "base.html" %}
{% block content %}
  <h1>Astiasto tietokanta</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää uusi astia</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Astia</th>
        <th>Väri</th>
        <th>Koko</th>
        <th>Hinta</th>
        <th>Muoto</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan astiat tähän -->
      <tr>
        <td>Kuppi</a></td>
        <td>Harmaa</td>
        <td>2 dl</td>
        <td>15 €</td>
        <td>Pyöreä</td>
        </tr>
        <th><a class="btn btn-default btn-sm" href="#">Muuta</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}