{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Tervetuloa Astiastotietokantaan</h1>
    
    
    <p>
        Astiastotietokannassa p‰‰set katselemaan erilalisia astiastojen br‰ndej‰ sek‰ erillaisia astioita.
        Ylh‰‰ll‰ olevassa navigaatiovalikosta p‰‰set liikkumaan sovelluksessa.
    </p>
    
</div>
<!--
  <div class="page-header">
    <h1>Tervetuloa Tsoha Bootstrappiin!</h1>
  </div>

  <p>
    <a href="http://tsoha.github.io" class="btn btn-primary btn-lg">Tutustu materiaaliin <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>

-->
  
  
{% endblock %}
