{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Tervetuloa Astiastotietokantaan</h1>
    
    
    <p>
        Astiastotietokannassa paaset katselemaan erilalisia astiastojen brandeja seka erillaisia astioita.
        Ylhaalla olevassa navigaatiovalikosta paaset liikkumaan sovelluksessa.
    </p>
    
    
     <center><img src="http://www.cs.helsinki.fi/u/hanneras/kuvat/teema_harmaa.jpg" width="210" height="180" alt="Astiasto" ></center>
     
    
{% endblock %}
