{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Tervetuloa Astiastotietokantaan</h1>
    
    
    <p>
        Astiastotietokannassa paaset katselemaan erilalisia astiastojen brandeja seka erillaisia astioita.
        Ylhaalla olevassa navigaatiovalikosta paaset liikkumaan sovelluksessa.
    </p>
    
    <!--
    <p class="oikea"><img src="{{base_bath}}/astia/teema_harmaa.jpg" alt="Astiasto"/>
</div>
<!--
  <div class="page-header">
    <h1>Tervetuloa Tsoha Bootstrappiin!</h1>
  </div>

  <p>
    <a href="http://tsoha.github.io" class="btn btn-primary btn-lg">Tutustu materiaaliin <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>

-->
  
  
{% endblock %}
