{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}

<p>
     <a href="{{base_path}}/brandi/{{brandi.bra_id}}/muokkaa" class="btn btn-success">Muokkaa</a> {{forms.poisto_nappi("#{base_path}/brandi/#{brandi.bra_id}/poista")}}
 
  </p>

  <h1>{{brandi.nimi}}</h1>
      
  <div>
      
  <!-- Tiedot tulee listana tähän -->
 
  <h3>Brandin tiedot</h3>
  <ul>
    <li><strong>Valmistaja: </strong>{{brandi.valmistaja}}</li>
    <li><strong>Maa: </strong>{{brandi.maa}}</li>
  </ul>
      
  </div>  
 
{% endblock %}