{% extends "base.html" %}
{% block content %}

<h1>Muokkaa brandia: {{brandi.nimi}}</h1>


<form method="post" action="{{base_path}}/brandi/{{brandi.bra_id}}/muokkaa">
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" name="nimi" value="{{brandi.nimi}}"/>
    </div>
    
    <div class="form-group">
        <label>Valmistaja</label>
        <input type="text" class="form-control" name="valmistaja" value="{{brandi.valmistaja}}"/>
    </div>
    
    <div class="form-group">
        <label>Maa</label>
         <input type="text" class="form-control" name="maa" value="{{brandi.maa}}"/>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}
